:root {
  --font-heading: var(--font-serif);
  --background: oklch(0.2164 0.0175 259.74);
  --foreground: oklch(0.8927 0.0325 136.64);
  --card: oklch(0.2164 0.0175 259.74);
  --card-foreground: oklch(0.8927 0.0325 136.64);
  --popover: oklch(0.2164 0.0175 259.74);
  --popover-foreground: oklch(0.8927 0.0325 136.64);
  --primary: oklch(0.6553 0.1734 43.0037);
  --primary-foreground: oklch(0.2164 0.0175 259.74);
  --secondary: oklch(0.6071 0.0525 179.3199);
  --secondary-foreground: oklch(0.2164 0.0175 259.74);
  /*--muted: oklch(0.2907 0.0169 255.6564);*/
  --muted: oklch(0.2668 0.0205 242.68);
  --muted-foreground: oklch(0.8927 0.0325 136.64);
  --accent: oklch(0.6553 0.1734 43.0037);
  --accent-foreground: oklch(0.2164 0.0175 259.74);
  --destructive: oklch(0.6555 0.1727 20.2362);
  --destructive-foreground: oklch(0.984 0.0312 134.9865);
  --border: oklch(0.984 0.0312 134.9865);
  --input: oklch(0.8927 0.0325 136.64);
  --ring: oklch(0.6553 0.1734 43.0037);
  --chart-1: oklch(0.5547 0.2503 297.0156);
  --chart-2: oklch(0.682 0.1448 235.3822);
  --chart-3: oklch(0.625 0.1772 140.4448);
  --chart-4: oklch(0.692 0.2041 42.4293);
  --chart-5: oklch(0.7141 0.1045 33.0967);
  --radius: 0.625rem;
  --sidebar: oklch(0.2164 0.0175 259.74);
  --sidebar-foreground: oklch(0.8927 0.0325 136.64);
  --sidebar-primary: oklch(0.6553 0.1734 43.0037);
  --sidebar-primary-foreground: oklch(0.2164 0.0175 259.74);
  --sidebar-accent: oklch(0.6553 0.1734 43.0037);
  --sidebar-accent-foreground: oklch(0.2164 0.0175 259.74);
  --sidebar-border: oklch(0.984 0.0312 134.9865);
  --sidebar-ring: oklch(0.6553 0.1734 43.0037);
}
