---
import Layout from "#/layouts/Layout.astro";
import Container from "#/components/Container.astro";
import Text from "#/components/Text.astro";

import { Image } from "astro:assets";
import bgPlants from "#/assets/bg-plants.webp";
import bgRoots from "#/assets/bg-roots.webp";

import Card from "#/components/Card.astro";
import { Button } from "#/components/ui/button";
import {
  BookOpenText,
  Church,
  Flame,
  Mountain,
  MoveDown,
  MoveRight,
  TreePine,
} from "@lucide/astro";

const priorities = [
  {
    id: "big-god-theology",
    icon: Mountain,
    prefix: "shaped by",
    coreValue: "Big God Theology",
    description:
      "We emphasize Christ as the sovereign ruler over all of heaven and earth.",
  },
  {
    id: "persuasive-preaching",
    icon: BookOpenText,
    prefix: "proclaimed in",
    coreValue: "Persuasive Preaching",
    description:
      "We seek to proclaim God’s word by conforming the content and intent of the sermon with that of the text in a compelling way so that listeners are taught, pleased, and moved.",
  },
  {
    id: "intentional-ecclesiology",
    icon: Church,
    prefix: "portrayed through",
    coreValue: "Intentional Ecclesiology",
    description:
      "We promote clear definitions and practice of baptistic church governance and ordinances.",
  },
  {
    id: "compelling-culture",
    icon: Flame,
    prefix: "experienced as",
    coreValue: "Compelling Culture",
    description:
      "We seek to build church communities that draw others in through gospel love and unity.",
  },
  {
    id: "deliberately-rural-mission",
    icon: TreePine,
    prefix: "spread through",
    coreValue: "Deliberately Rural Mission",
    description:
      "We are specifically focused on revitalizing and planting churches in the region of Southern Minnesota.",
  },
];
---

<Layout>
  <!-- BG Light -->
  <div class="bg-foreground">
    <Container
      as="section"
      width="wide"
      class="text-background pt-32 text-center"
    >
      <Text as="h1" variant="hero">The Prairie Forge Initiative</Text>
    </Container>
    <Image src={bgPlants} alt={"background image of prairiegrass plants"} />
  </div>

  <!-- BG Dark -->
  <Image src={bgRoots} alt={"background image of prairiegrass roots"} />

  <Container
    as="section"
    class="relative flex h-svh flex-col justify-center gap-8"
    id="vision"
  >
    <Text as={"h2"} variant={"subheading"}>
      Planting the gospel in the soil of Southern Minnesota over the next
      hundred years.
    </Text>
    <Button
      variant={"link"}
      class="text-primary bounce-down mt-32 w-fit self-center"
      as="a"
      href="/#vision-2">Find out how <MoveDown /></Button
    >
  </Container>

  <Container
    as="section"
    class="relative flex h-svh flex-col justify-center gap-8"
    id="vision-2"
  >
    <Text as={"h2"} variant={"subheading"}>Jesus was unstrategic</Text>
    <p class="text-secondary">
      He came to the sound of angels singing and then spent the next thirty
      years learning carpentry. Even during his public ministry, he spent most
      of his time going at a slow pace in a small place. This is unstrategic not
      because there was no plan, but because the plan doesn’t make sense! Yet
      the madness of this plan is exactly how God chose to display the
      upside-down nature of his Kingdom. Jesus won by dying. Jesus chose two
      women to witness the resurrection. Jesus built his church on the preaching
      of one of his betrayers. Jesus' plan is beautiful—but mad.
    </p>
    <Button
      variant={"link"}
      class="text-primary bounce-down mt-32 w-fit self-center"
      as="a"
      href="/#vision-3">Trusting him takes imagination <MoveDown /></Button
    >
  </Container>

  <Container
    as="section"
    class="relative flex h-svh flex-col justify-center gap-8"
    id="vision-3"
  >
    <Text as={"h2"} variant={"subheading"}
      >Many view rural ministry as unstrategic</Text
    >
    <p class="text-secondary">
      Yet we believe rural ministry presents a unique opportunity to display the
      very upside-down gospel we proclaim. Going at a slow pace in a small place
      as we win by dying embodies the gospel logic of John 12:24: “Truly, truly,
      I say to you, unless a grain of wheat falls into the earth and dies, it
      remains alone; but if it dies, it bears much fruit." The slowness and
      smallness of this kind of ministry requires a certain kind of gospel
      imaginary from those who pastor here. It’s the kind of imaginary Wendell
      Berry calls for in his poem Manifesto: The Mad Farmer Liberation Front:
    </p>
    <p class="pl-8">
      So, friends, every day do something<br />that won’t compute....<br
      />Invest in the millennium. Plant sequoias.<br />Say that your main crop
      is the forest<br />that you did not plant,<br />that you will not live to
      harvest.
    </p>
    <p class="text-secondary">
      We’ve caught this madness. And out of this gospel madness flows...
    </p>
    <Button
      variant={"link"}
      class="text-primary bounce-down mt-32 w-fit self-center"
      as="a"
      href="/#vision-4">Our 100 year vision <MoveDown /></Button
    >
  </Container>

  <!-- BG Muted -->
  <div class="bg-muted">
    <Container as="article" class="flex flex-col gap-32 py-32" id="vision-4">
      <Text as="h2" variant={"subheading"}>
        Over the next 100 years, we aim to start and strengthen churches in
        Southern MN that share a <span class="text-primary">
          Gospel Imaginary.
        </span>
      </Text>
      <div class="flex flex-col gap-4">
        {priorities.map((item, index) => <Card {item} {index} />)}
      </div>

      <Button
        class={"text-2xl items-center font-sans tracking-wide gap-4 flex-wrap h-fit py-2 text-wrap"}
        size={"lg"}
        ><span class="text-wrap">Join us in this mission</span><MoveRight
          class="size-8"
        /></Button
      >
    </Container>
  </div>
</Layout>
