---
import "#/styles/global.css";
import { Font } from "astro:assets";
import Footer from "#/layouts/Footer.astro";
import Nav from "#/layouts/Nav.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Prairie Forge Initiative</title>

    <Font cssVariable="--font-sans" />
    <Font cssVariable="--font-serif" />
  </head>
  <body>
    <Nav />
    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
  }
</style>
