---
import { navItems } from "#/lib/nav";
import { Menu, X } from "@lucide/astro";
---

<!-- Use group and group-has-checked to toggle menu icon / checkbox / menu | https://tailwindcss.com/docs/hover-focus-and-other-states#styling-based-on-the-descendants-of-a-group | https://youtu.be/8eFeIFKAKHw?si=bTKM55MwRC8z5e2c -->
<nav
  class="group text-background sticky top-0 z-50 flex h-full justify-end px-4 py-8 md:backdrop-blur-md"
>
  <input type="checkbox" id="sidebar-toggle" class="hidden" />
  <div class="relative z-50 size-10 md:hidden">
    <label for="sidebar-toggle" class="absolute">
      <div
        class="bg-foreground size-10 rounded-md p-2 group-has-checked:bg-transparent"
      >
        <Menu
          class="transition-all duration-300 ease-out group-has-checked:scale-0 group-has-checked:rotate-90"
        />
      </div>
    </label>
    <label for="sidebar-toggle" class="absolute">
      <X
        class="text-foreground size-10 scale-0 rotate-90 p-2 transition-all duration-300 ease-out group-has-checked:scale-100 group-has-checked:rotate-0"
      />
    </label>
  </div>

  <div
    class="bg-background text-foreground md:text-background fixed inset-0 z-40 flex h-full translate-x-full flex-col items-center justify-center transition-all duration-200 ease-out group-has-checked:translate-none md:relative md:w-full md:translate-none md:flex-row md:bg-transparent"
  >
    <a href="/" class="font-sans md:mr-auto">
      <h1>Prairie Forge Initiative</h1>
    </a>
    <!-- <h1>The current URL is: {Astro.url}</h1> -->
    <!-- <h1>The current URL pathname is: {Astro.url.pathname}</h1> -->
    <ul class="flex flex-col md:flex-row">
      {
        navItems.map((item) => (
          <li class="px-4">
            <a href={item.url}>{item.label}</a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>

<style>
  body:has(#vision:target) nav a[href="/#vision"] {
    color: red;
  }

  nav::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--color-foreground);
    opacity: 1;
    z-index: -1;
  }

  @supports (animation-timeline: scroll()) {
    nav::before {
      animation: fade linear;
      animation-timeline: scroll();
      animation-range: 100px 300px;
      animation-fill-mode: both;
    }

    @keyframes fade {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

    @media (width >= 48rem /* 768px */) {
      @keyframes fade {
        from {
          opacity: 1;
        }
        to {
          opacity: 0.75;
        }
      }
    }
  }
</style>
